<p>Dear <%= @user.name %>,<br/>
Your new password is: <%= @password %>. Please login and change it to something more memorable.
<p>
 
<p>
Thank you for your support.<br/>
Regards,<br/>
tricklesofchange.com team
</p>
