<%= image_tag attachments['newheader.png'].url %>
<p>Dear <%= @user.name %>,<br/>
Your new password is: <%= @password %>. Please login and change it to something more memorable.
<p>
 
<p>
Thank you for your support.<br/>
Regards,<br/>
TricklesOfChange team
</p>
