<%= image_tag attachments['newheader.png'].url %>
<p>
Thank you for signing up to try TricklesOfChange - your new FREE tool to micosaving. We hope that your experience, using this tool, will aid you to create greater purchasing power. 
</p>
<p>After signing up, take time to read the How It Works section. Also know that the FAQs section is also pretty useful, so look into that when you get a chance. 
</p>
<p>
As always, feel free to send us any questions you may have. Remember that your feedback is what will create this tool into what you need it to be to help you achieve your microsaving goals.
</p>
<p>
Click the link below to sign up:
<br/>
<%= @signup_url %>
</p>
 
<p>
Thank you for your support.<br/>
Regards,<br/>
TricklesOfChange team
</p>
