<%= image_tag attachments['newheader.png'].url %>
<p>
Thank you for signing up to try tricklesofchange - your new tool to micosaving. We hope that your experience, using this tool, will aid you to create greater purchasing power. 
</p>
<p>After signing up, take time to read the FAQs section. Also know that, the How It Works section will give you more in-depth examples; so look into that when you get a chance. 
</p>
<p>
As always, feel free to send us any questions you may have. Remember that your feedback is what will create this tool into what you need it to be to help you achieve your microsaving goals.
</p>
<p>
Click the link below to sign up:
<br/>
<%= @signup_url %>
</p>
 
<p>
Thank you for your support.<br/>
Regards,<br/>
tricklesofchange.com team
</p>
