<%= image_tag attachments['newheader.png'].url %>
<p>Welcome welcome welcome to tricklesofchange.com.<p/>
<p>tricklesofchange.com is a microsaving tool. This is not your ordinary budgeting tool. tricklesofchange.com is a tool that will help you discipline your every day spending; in order to help you stretch your dollar further, and give your money power and distance. </p>

<p>Watch your trickles of change turn into stacks of cash...
</p>
 
<p>
Thank you for your support.<br/>
Regards,<br/>
tricklesofchange.com team
</p>
