.ui-tabs .ui-tabs-hide {
     display: none;
}

body {
  background: #fc6;
  color:#222;
  font: 70.5%/1.5 Arial,sans-serif;
  font-family: "lucida grande",tahoma,verdana,arial,sans-serif;
}

.container{
 width:750px;
 margin: -10px auto;
 
 font-size: 1em;
}

#header {
  background-color: #fff;
  padding-top: 20px;
  height:60px;
}

#header img {
  background: #fff;
  border:0px;
}

label{
    font-weight:normal;
}

#section {
    background:none repeat scroll 0 0 #FFFFFF;
    margin-top:1em;
    padding:20px;
}

/* Links */

a {
  color: #fc3;
  text-decoration: none;
}

a:hover {
  color: #fc6;
  text-decoration: none;
}

a:visited {
  color: #1C94C4;
}

logo{
    float:left;
    width:250px;
}
/* Navigation */


#nav {
  background-color: white;
  float:right;
  padding: 10px 10px 0 0;
  white-space: nowrap;
}

#nav ul {
  margin: 0;
  padding: 0;
}

#nav ul li {
  list-style-type: none;
  display: inline;
  padding: 0.2em 0;
}

#nav ul li a {
  padding: 0 5px;
  font-weight: bold;
}

#nav ul li a:visited {
  color: #1C94C4;
}

#nav ul li a:hover {
  text-decoration: none;
}

/*index page*/

#chartdiv{
    width:710px;
}

#homepage{
    height:230px;
}

#numbers{
 min-height:100px;
}

#signupforbeta{
    float:left;
    padding-top:20px;
    width:350px;
}

#slideshow{
    border:1px solid orange;
    height:300px;
    width:700px;
}
#signin{
    float:right;
    padding-top:20px;
    width: 200px;
}

/* Sign up button */
a.signup_button {
  margin-left: auto;
  margin-right: auto;
  display: block;
  text-align: center;
  width: 190px;
  color: #fff;
  background: #fc6;
  font-size: 150%;
  font-weight: bold;
  padding: 20px;
}

/* Round corners */

.round {
  -moz-border-radius:    10px;
  -webkit-border-radius: 10px;
  border-radius:         10px;
}

.round-top {
  -moz-border-radius:    0 0 10px 10px;
  -webkit-border-radius: 0 0 10px 10px;
  border-radius:         0 0 10px 10px;
}

.round-bottom {
  -moz-border-radius:    10px 10px 0 0;
  -webkit-border-radius: 10px 10px 0 0;
  border-radius:         10px 10px 0 0;
}

/* User show page */

h1 {
  font-size: 200%;
}

#details{
    width:50%
}

#stats_chart{


}

table {
  width: 100%;
  margin-bottom: 0;
}

td.main {
  width: 70%;
  padding: 1em;
}

td.sidebar {
  width: 30%;
  padding: 1em;
  vertical-align: top;
  background: #ffc;
}

.profile img.gravatar {
  border: 1px solid #999;
  margin-bottom: -15px;
}

/* Sign Up User show page */
div.field, div.actions { 
}

/*Show the list of users page*/
ul.users {
  margin-top: 1em;
}

.users li {
  list-style: none;
}

/*errors*/
.field_with_errors {
  margin-top: 10px;
  padding: 2px;
  background-color: red;
  display: table;
}

.field_with_errors label {
  color: #fff;
}

#error_explanation {
  width: 400px;
  border: 2px solid red;
  padding: 7px;
  padding-bottom: 12px;
  margin-bottom: 20px;
  background-color: #f0f0f0;
}

#error_explanation h2 {
  text-align: left;
  font-weight: bold;
  padding: 5px 5px 5px 15px;
  font-size: 12px;
  margin: -7px;
  background-color: #c00;
  color: #fff;
}

#error_explanation p {
  color: #333;
  margin-bottom: 0;
  padding: 5px;
}

#error_explanation ul li {
  font-size: 12px;
  list-style: square;
}


div.user_info img {
  padding-right: 0.1em;
}

div.user_info a {
  text-decoration: none;
}

div.user_info span.user_name {
  position: absolute;
}

/*show page*/
.header{
    background: url("/images/ui-bg_gloss-wave_35_f6a828_500x100.png") repeat-x scroll 50% 50% #F6A828;
}

#addaccount, #addspending{
    float:right;
    font-size:120%;
    margin-top: -10px;
}

.hdr{
    width:100px;
}

.hover{
 background-color: #FFCC66;
}

/* Tooltip */

#tooltip {
	position:absolute;
	z-index:9999;
	color:#000000;
	font-size:10px;
	width:180px;	
}

#tooltip .tipHeader {
	height:8px;
	background:url(images/tipHeader.gif) no-repeat;
}

#tooltip .tipBody {
	background-color:#FFCC66;
	padding:5px 5px 5px 15px;
}

#tooltip .tipFooter {
	height:8px;
	background:url(images/tipFooter.gif) no-repeat;
}


/*footer*/
#footer {
  text-align: center;
  margin-top: 10px;
  width: 750px;
  margin-left: auto;
  margin-right: auto;
}

#footer #nav {
  float: none;
}

