.ui-tabs .ui-tabs-hide {
     display: none;
}

body {
    background: #fc6;
    color:#666;
    font: 80.5%/1.5 Arial,sans-serif;
    font-family: "lucida grande",tahoma,verdana,arial,sans-serif;
    background: url("/images/bkgrd.png");
    text-shadow:1px 1px white;
}

p.contact input{
    width:342px;
}

p.contact textarea{
    width:342px;
    height:90px;
}

input, textarea{
    border:1px solid #E5E5E5;
    margin:1px 0;
}

.container{
 width:742px;
 margin: -10px auto;
 
 font-size: 1em;
}

#header {
  background-color: beige;
  height:120px;
}

img {
  border:0px;
}

#social{
    position:fixed;
    right:0;
    top:40%;
    padding:10px 0px 10px 0px;
    border: medium double;
    width:160px;
    text-shadow:none;
    font-size:1.1em;
}

#social ul li{
  list-style-type: none;    
}



label{
    font-weight:normal;
}

#section {
    background:none repeat scroll 0 0 beige;
    margin-top:1em;
    padding:20px;
}

small{
 color:black;   
}

/* Links */

a {
  color: #1C94C4;
  text-decoration: none;
}

a:visited {
  color: #1C94C4;
}

a:hover {
  color: #988D6B;
  text-decoration: none;
}

logo{
    left:0px;
    position:relative;
}

#tag_line{
    left:80px;
    position:relative;  
}
/* Navigation */

#header-nav {
    padding:0 15px;
    position:relative;
    top:-25px;
    right:-7px;
    white-space:nowrap;
    float:right;
    background-color:rgb(173, 176, 89);
    border:1px solid #666;
    text-shadow:none;
}

#nav {
    background-color:beige;
    width:710px;
    padding:15px;
    float:right;
    white-space:nowrap;
}

#nav ul,#header-nav ul {
  margin: 0;
  padding: 0;
}

#nav ul li,#header-nav ul li {
  list-style-type: none;
  display: inline;
  padding: 0.2em 0;
}

#nav ul li a,#header-nav ul li a {
  padding: 0 5px;
  font-weight: bold;
}

/*index page*/

#chartdivborder{
    border:8px outset #988D6B;
    margin:5px 0;   
    padding:3px;
}

#homepage{
    height:230px;
}

#numbers{
 min-height:100px;
}

#signupforbeta{
    float:left;
    padding-top:20px;
    width:350px;
}

#slideshow{
    border:1px solid #988d6b;
    height:300px;
    width:700px;
    padding:3px;
}
#signin{
    float:right;
    padding-top:20px;
    width: 200px;
}

/* Sign up button */
a.signup_button {
  margin-left: auto;
  margin-right: auto;
  display: block;
  text-align: center;
  width: 190px;
  color: #fff;
  background: #fc6;
  font-size: 150%;
  font-weight: bold;
  padding: 20px;
}

.popup{
    padding:2px 2px 0 0;
}

/* Round corners */

.round {
  -moz-border-radius:    10px;
  -webkit-border-radius: 10px;
  border-radius:         10px;
}

.round-bottom {
  -moz-border-radius:    0 0 10px 10px;
  -webkit-border-radius: 0 0 10px 10px;
  border-radius:         0 0 10px 10px;
}

.round-left {
  -moz-border-radius:    10px 0 0 10px;
  -webkit-border-radius: 10px 0 0 10px;
  border-radius:         10px 0 0 10px;
}

.round-top {
  -moz-border-radius:    10px 10px 0 0;
  -webkit-border-radius: 10px 10px 0 0;
  border-radius:         10px 10px 0 0;
}

.round-top-5px {
  -moz-border-radius:    10px 10px 0 0;
  -webkit-border-radius: 10px 10px 0 0;
  border-radius:         10px 10px 0 0;
}

.shadow {
	-moz-box-shadow: 3px 3px 4px #333;
	-webkit-box-shadow: 3px 3px 4px #333;
	box-shadow: 3px 3px 4px #333;
	/* For IE 8 */
	-ms-filter: "progid:DXImageTransform.Microsoft.Shadow(Strength=4, Direction=135, Color='#333333')";
	/* For IE 5.5 - 7 */
	filter: progid:DXImageTransform.Microsoft.Shadow(Strength=4, Direction=135, Color='#333333');
}

.shadow_all_round {
	-moz-box-shadow: 3px 3px 3px 4px #333;
	-webkit-box-shadow: 3px 3px 3px 4px #333;
	box-shadow: 3px 3px 3px 4px #333;
	/* For IE 8 */
	-ms-filter: "progid:DXImageTransform.Microsoft.Shadow(Strength=4, Direction=135, Color='#333333')";
	/* For IE 5.5 - 7 */
	filter: progid:DXImageTransform.Microsoft.Shadow(Strength=4, Direction=135, Color='#333333');
}


/* User show page */

h1 {
  font-size: 200%;
}

#details{
    width:50%
}

table {
  width: 100%;
  margin-bottom: 0;
}

td.main {
  width: 70%;
  padding: 1em;
}

td.sidebar {
  width: 30%;
  padding: 1em;
  vertical-align: top;
  background: #ffc;
}

.profile img.gravatar {
  border: 1px solid #999;
  margin-bottom: -15px;
}

/* Sign Up User show page */
div.actions, div.field{ 
padding:5px;
}

/*Show the list of users page*/
ul.users {
  margin-top: 1em;
}

/*errors*/
.field_with_errors {
  margin-top: 10px;
  padding: 2px;
  background-color: red;
  display: table;
}

.field_with_errors label {
  color: #fff;
}

#error_explaination {
  width: 400px;
  border: 2px solid red;
  padding: 7px;
  padding-bottom: 12px;
  margin-bottom: 20px;
  background-color: #FFCC66;
}

#error_explaination h2 {
  text-align: left;
  font-weight: bold;
  padding: 5px 5px 5px 15px;
  font-size: 12px;
  margin: -7px;
  background-color: #c00;
  color: #fff;
}

#error_explaination p {
  color: #333;
  margin-bottom: 0;
  padding: 5px;
}

#error_explaination ul li {
  font-size: 12px;
  list-style: square;
}


div.user_info img {
  padding-right: 0.1em;
}

div.user_info a {
  text-decoration: none;
}

div.user_info span.user_name {
  position: absolute;
}

/*show page*/
.header{
    
}
.headercolumn{
    background: url("/images/ui-bg_gloss-wave_35_f6a828_500x100.png") repeat-x scroll 50% 50% #F6A828;
    border-left:1px solid #988D6B;
    border-right:1px solid #988D6B;
    border-top:1px solid #988D6B;
    padding-left:10px;
}

#addaccount, #addspending{
    float:right;
    font-size:120%;
    margin-top: -10px;
}

.hdr{
    width:100px;
}

.hover{
 background-color: #FFCC66;
}

/* Tooltip */

#tooltip {
	position:absolute;
	z-index:9999;
	color:#fff;
	font-size:10px;
	width:180px;
    border: solid 1px #988D6B;
    text-shadow:none;
    padding:5px;	
}

#tooltip .tipHeader {
	height:8px;
}

#tooltip .tipBody {
	background-color:#988D6B;
	padding:5px 5px 5px 15px;
}

#tooltip .tipFooter {
	height:8px;
	background:url(images/bkgrd.png) no-repeat;
}


/*footer*/
#footer {
  text-align: center;
  margin-top: 10px;
  width: 742px;
  margin-left: auto;
  margin-right: auto;
}

#footer #nav {
  float: none;
}

.error, .notice, .success, .warning {padding:.8em;margin-bottom:1em;border:2px solid #ddd;}
.error {background:#FBE3E4;color:#8a1f11;border-color:#FBC2C4;}
.notice {background:#FFF6BF;color:#514721;border-color:#FFD324;}
.success {background:#E6EFC2;color:#264409;border-color:#C6D880;}
.warning {background:#E6EFC2;color:#264409;border-color:#C6D880;}
.error a {color:#8a1f11;}
.notice a {color:#514721;}
.success a {color:#264409;}
tr.even td {
    background:#e5e0fd;
    padding-left:10px;
}
tr.odd td {padding-left:10px;}
#signupnew{height:200px;}
#signupbtn{float:right;}
#daily_bank_tip{
    float:right;
    left:400px;
    margin-top:-50px;
    width:325px;
    background-color:beige;
    padding:5px;
}
.unit{margin-left:-10px;margin-right:5px;}
