.ui-tabs .ui-tabs-hide {
     display: none;
}


.container {
  width: 750px;
}

body {
  background: #fc6;
}

header {
  background-color: #fff;
  padding-top: 20px;
}

header img {
  background: #fff;
}

label{
    font-weight:normal;
}
section {
    background:none repeat scroll 0 0 #FFFFFF;
    font-size:90%;
    margin-top:1em;
    padding:20px;
}

/* Links */

a {
  color: #fc3;
  text-decoration: none;
}

a:hover {
  color: #fc6;
  text-decoration: underline;
}

a:visited {
  color: #1C94C4;
}

/* Navigation */
nav {
  float: right;
}

nav {
  background-color: white;
  padding: 0 0.7em;
  white-space: nowrap;
}

nav ul {
  margin: 0;
  padding: 0;
}

nav ul li {
  list-style-type: none;
  display: inline-block;
  padding: 0.2em 0;
}

nav ul li a {
  padding: 0 5px;
  font-weight: bold;
}

nav ul li a:visited {
  color: #1C94C4;
}

nav ul li a:hover {
  text-decoration: underline;
}

/*index page*/

#chartdiv{
    width:710px;
}

#homepage{
    height:230px;
}

#numbers{
 min-height:100px;
}

#signupforbeta{
    float:left;
    padding-top:20px;
    width:350px;
}

#slideshow{
    border:1px solid orange;
}
#signin{
    float:right;
    padding-top:20px;
    width: 200px;
}

.tooltip {
	display:none;
	background:transparent url(/tools/img/tooltip/black_arrow.png);
	font-size:12px;
	height:70px;
	width:160px;
	padding:25px;
	color:#fff;	
}

/* Sign up button */

a.signup_button {
  margin-left: auto;
  margin-right: auto;
  display: block;
  text-align: center;
  width: 190px;
  color: #fff;
  background: #fc6;
  font-size: 150%;
  font-weight: bold;
  padding: 20px;
}

/* Round corners */

.round {
  -moz-border-radius:    10px;
  -webkit-border-radius: 10px;
  border-radius:         10px;
}

.round-top {
  -moz-border-radius:    0 0 10px 10px;
  -webkit-border-radius: 0 0 10px 10px;
  border-radius:         0 0 10px 10px;
}

.round-bottom {
  -moz-border-radius:    10px 10px 0 0;
  -webkit-border-radius: 10px 10px 0 0;
  border-radius:         10px 10px 0 0;
}

/* User show page */

h1 {
  font-size: 200%;
}

#details{
width:50%
}

#stats_chart{


}

table.profile {
  width: 100%;
  margin-bottom: 0;
}

td.main {
  width: 70%;
  padding: 1em;
}

td.sidebar {
  width: 30%;
  padding: 1em;
  vertical-align: top;
  background: #ffc;
}

.profile img.gravatar {
  border: 1px solid #999;
  margin-bottom: -15px;
}

/* Sign Up User show page */
div.field, div.actions { 
}

/*Show the list of users page*/
ul.users {
  margin-top: 1em;
}

.users li {
  list-style: none;
}

/*errors*/
.field_with_errors {
  margin-top: 10px;
  padding: 2px;
  background-color: red;
  display: table;
}

.field_with_errors label {
  color: #fff;
}

#error_explanation {
  width: 400px;
  border: 2px solid red;
  padding: 7px;
  padding-bottom: 12px;
  margin-bottom: 20px;
  background-color: #f0f0f0;
}

#error_explanation h2 {
  text-align: left;
  font-weight: bold;
  padding: 5px 5px 5px 15px;
  font-size: 12px;
  margin: -7px;
  background-color: #c00;
  color: #fff;
}

#error_explanation p {
  color: #333;
  margin-bottom: 0;
  padding: 5px;
}

#error_explanation ul li {
  font-size: 12px;
  list-style: square;
}


div.user_info img {
  padding-right: 0.1em;
}

div.user_info a {
  text-decoration: none;
}

div.user_info span.user_name {
  position: absolute;
}

/*show page*/
.header{
    background: url("/images/ui-bg_gloss-wave_35_f6a828_500x100.png") repeat-x scroll 50% 50% #F6A828;
}

#addaccount, #addspending{
    float:right;
    font-size:120%;
    margin-top: -10px;
}

.hdr{
    width:100px;
}

.hover{
 background-color: #FFCC66;
}

/*footer*/
footer {
  text-align: center;
  margin-top: 10px;
  width: 750px;
  margin-left: auto;
  margin-right: auto;
}

footer nav {
  float: none;
}

