<li>
  <a href="#spendings">Spending</a>
  <img src="/images/tooltip.png" class = "popup" title="click"  data-header="spendings" data-info="<p>Enter your spendings; you may itemize each spending to increase accountablity, or you may simple have one or two entries depicting your days spendings."/>
</li>
