<%= form_tag forgot_password_path, :id => 'forgot_password' do %>
	<h2>Forgot Your Password?</h2>
	<p>No worries. Just enter your email address below and we'll send you a fresh password.</p>
	<%= label_tag :email %>
	<%= text_field_tag :email %>

	<%= submit_tag 'Send me a Password', :class => 'submit' %>
<% end %>
