<h2>About tricklesofchange.com</h2>
<p>
Trickles of change refers to the fact that this program relies on the little bits of change you have left over from day to day – a dollar here or two dollars there – to help you build your cash reserves. As we all know, a continuous trickle of water will eventually fill a bucket. In the same way, continuously saving your leftover change will build your financial buffer to the point where you’ll be living a comfortable life in the here and now.
</p>
<p>
<b>Budgeting for the non-budgeter: teaching ordinary individuals how to leverage their money through conscientious spending. The purpose of this site is to provide you, the individual, with a tool to spend your money in a conscious and deliberate manner so as to <b>increase your purchasing power</b> and allow your money to work more for you in the long run.
</p>
<p>
tricklesofchange.com is a virtual tool, that helps you virtualize/visualize your spendings and grow your microsavings towards your goals.
</p>
<p> Check out the <%= link_to "How it works", howitworks_path %> and <%= link_to "FAQs", faqs_path %> sections to see how this tool will help you leverage your money better.</p>
