<h1>About Tricklesofchange.com</h1>
<p>
  <b>Budgeting for the non-budgeter:</b> teaching ordinary individuals how to save money
  through conscientious spending. The purpose of this site is to provide you, the individual, with a
  proactive way to spend your spending money(or allowance) in a manner that will give
  you more money to work with in the long run.
</p>
 
