<h2>About tricklesofchange.com</h2>
<p>
<b>Budgeting for the non-budgeter: teaching ordinary individuals how to leverage their money through conscientious spending. The purpose of this site is to provide you, the individual, with a tool to spend your money in a conscious and deliberate manner so as to <b>increase your purchasing power</b> and allow your money to work more for you in the long run.
</p>
<p>
tricklesofchange.com is a virtual tool, that helps you virtualize/visualize your spendings and grow your microsavings towards your goals.
</p>
<p> Check out the <%= link_to "How it works", howitworks_path %> and <%= link_to "FAQs", faqs_path %> sections to see how this tool will help you leverage your money better.</p>
