<h2>About tricklesofchange.com</h2>
<p>
"Trickles of change" is a free microsaving tool. The name refers to the fact that this program relies on the cash you have left over from day to day – two dollars here, ten dollars there – to build your cash reserves. As a continuous trickle of water will eventually fill a bucket, in the same way, you continuously saving this cash will build your financial buffer to the point where you’ll be living a comfortable life in the here and now.
</p>
<p>
<b>"Trickles of change" is budgeting for the non-budgeter</b> by teaching ordinary individuals how to leverage their money through conscientious spending. The purpose of this site is to provide you with a tool to spend your money in a conscious and deliberate manner so as to <b>increase your purchasing power</b> and allow your money to work more for you in the long run.
</p>
<p>
TricklesOfChange is a FREE virtual tool, that helps you virtualize and visualize your spendings and grow your microsavings towards your goals.
</p>
<p> Check out the <%= link_to "How it works", howitworks_path %> and <%= link_to "FAQs", faqs_path %> sections to see how this tool will help you leverage your money better.</p>
