<h2>The Discipline</h2>
<p>"The pain of discipline is far less than the pain of regret" - Sarah Bombell<p>
<blockquote>
<p>Some of the world's billionaires have frugal tendencies. Perhaps this thrifty nature even helped them keep some of their money.

Regardless, they have chosen to avoid some unnecessary spending (at least on their scale) and the 6.86 billion nonbillionaires out there can follow suit, eliminating excessive, keep-up-with-the-Joneses style spending. No matter what your income bracket is, you can usually find ways to cut back on frivolous spending -- just like a few frugal billionaires do.
<br/>
<a target = "_blank" href="http://articles.moneycentral.msn.com/SavingandDebt/SaveMoney/6-ways-to-live-like-a-billionaire.aspx">http://articles.moneycentral.msn.com/SavingandDebt/SaveMoney/6-ways-to-live-like-a-billionaire.aspx</a>
</p>
</blockquote>
<p>Discipline is often painful and you must continuously remind yourself to stick to the rules. By doing so, you will start to see great results, while living comfortably within your means. </p>
<h2>The Execution</h2>
<p>This program consists of three simple steps:
  <ol>
    <li>Pick an average figure that you would like to live on every day. This is your allowance and we call it, "your daily bank" at TricklesOfChange. Personally, I picked $15 (works out to a $450 monthly allowance). This figure may be greater or less for you depending purely on your situation. Always remember that you can change this figure at any time.</li>
    <li>Every so often, daily or bi-weekly, enter your daily spendings on TricklesOfChange and these will be automagically subtracted from your daily bank. Your daily balances will then be saved and just like putting change in a piggy bank every day, watch as your money grows, as you stash away more and leverage your cash like never before.</li>
    <li>In remembering that a journey is a collection of several small steps. Use the accounts section to enter <a href='/faqs#accounts' title="how accounts work">accounts</a> (things that you would like to save towards). An account may target anything, but remember that you are microsaving your "pocket-money", so your targets should generally be lower than those met by a regular savings accounts. For example: dinner at a fancy restuarant next week, a bike, a pair of jeans, a night out on the town, etc. The goal of accounts is to afford little luxuries without putting you in the red.</li>
  </ol>
<p><b>THAT'S IT!!!</b></p>
<p>This is just the beginning. Once you get this system down, you will be able to leverage your money in more ways than you have ever imagined. For example, it is unlikely that you are going to use the full amount of your daily allowance, which will put more money in your piggy bank every day. The little dollars that normally go unaccounted for, will now add up to give you an amazing cash buffer and thereby, a better quality of life!!!<p>
