<h2>The Discipline</h2>
<p>"The pain of discipline is far less than the pain of regret" - Sarah Bombell<p>
<p>As we all know, discipline is often painful. One must continuously remind oneself to stick to the rules. But, by doing so, you will see great results. </p>

<p>This program consists of three simple steps:
  <ol>
    <li>Pick a figure that you can comfortably live on every day. This may vary from city to city, from individual to individual, and of course depending on income. Once you’ve picked the figure, write it down. Be realistic – if the figure is too tight or too loose, it won’t work. <br/><i>Check this figure. Multiply your daily figure by the number of days in the month. The total should <b>not</b> exceed your monthly allowance. If it does, you either haven’t been realistic about your allowance, or your daily figure is too loose.</i></li>
    <li>Enter <a href='/faqs#accounts' title="how accounts work">accounts</a> you would like to save towards. Account are you little goals and mini-goals you would like to achieve. If you don't have any accounts right now, don't worry, you can still watch your main stash grow every day. As far as setting up accounts go; never think anything is too small or too big. With discipline and time, you can acheive all your big goals. Always remember; a journey is a collection of several small steps. </li>
    <li>Every day, enter your daily spending and watch as you acheive you goals and leverage your money like never before!!</li>
  </ol>
  Go ahead and click on your invitation email to go to the<!--go to the <a href ="/signup">-->signup page</a> and enter your daily figure now, along with the other details to create your account. Remember to be disciplined. Now that you have this daily figure, stick to it. This is the amount that you’re allowed to spend every day. And you should try and stick as close to it as possible. Remember that you can always go back and change this figure later, once you get a better hang of the program.
<p>

<p>So how do these three steps help you to build your cash reserves? <br>Imagine that you have a piggy bank, where any money unspent out of your daily allowance goes. This means that any time you spend less than the allotted amount, you’ll be depositing the leftover change in this virtual piggy bank! And once you have built up your cash buffer, you will have more leeway to do more with your money. Here’s a couple of scenarios to illustrate:
  <ol>
    <li>Today is Monday. Your daily allowance is $20 a day. On Friday you know that you want to attend a concert. The concert will cost you $10. Drinks and food will cost you another $15. This is $35 dollars you have determined to spend. However your daily allowance doesn’t cover this. This means that during the week, you have to leverage your daily allowances to ensure that you have $35 dollars to spend on Friday. You can do this in various ways. For example, if you decide to only spend $15 every day for that week, then by Friday you will have $5 * 4 (Mon – Thurs – in your piggy bank) + Friday’s $20 = $40 to spend on this concert. Leaving you with $5 in your piggy bank after you get home from the concert.</li>
    <li>In two months you know that you have to take a trip that will cost you about $300. Then, with a daily allowance of $20, spending a maximum of $15 a day for the next 2 months will give you $5 * 60(2 months) = $300.</li>
  </ol>
  Check out how <a href='/faqs#accounts'>accounts work in the FAQs</a> to see how to leverage this tool to accrue money towards your goals.
</p>

<p>This is just the beginning. Once you get this system down, you will be able to leverage your money in more ways than you have ever imagined. For example, it is unlikely that you are going to use the full amount of your daily allowance, which will put more money in your piggy bank every day. The little dollars that normally go unaccounted for, will now add up to give you an amazing cash buffer and thereby, a better quality of life!!!<p>
