<h2>Terms of Use Agreement</h2>
</p>
<h3>Accepting the terms</h3>
<p>
If you accept this Agreement, you represent that you have the capacity to be bound by it or if you are acting on behalf of a company or entity that you have the authority to bind such entity. Before you continue, you should print or save a local copy of this Agreement for your records.
</p>

<h3>Your Registration Information</h3>
<p>
You agree and understand that you are responsible for maintaining the confidentiality of your password which, together with your LoginID e-mail address, allows you to access the Service.
</p>
<p>
By providing us with your e-mail address, you agree to receive all required notices electronically, to that e-mail address. It is your responsibility to update or change that address, as appropriate. Notices will be provided in HTML (or, if your system does not support HTML, in plain-text) in the text of the e-mail or through a link to the appropriate page on our site, accessible through any standard, commercially available internet browser.
</p>
<p>
If you become aware of any unauthorized use of your Registration Information, you agree to notify TricklesOfChange immediately at the email address - security@tricklesofchange.com.
</p>
<h3>This is a FREE virtualization tool</h3>
<p>
TricklesOfChange is simply a virtualization tool. We will not collect any private information from you as far as bank account information, or any other private information.
</p>
<h3>Request for time zone information</h3>
<p>
Time zone information is requested in order to update your accounts without interupting your day (accounts are updated at midnight). We wil not use this information to keep tabs on you.
</p>
<h3>Intellectual property and property rights</h3>
<p>
The materials used and displayed on the Service and the Sites, including but not limited to text, software, photographs, graphics, illustrations and artwork, video, music and sound, and names, logos, trademarks and service marks, are the property of TricklesOfChange or its affiliates or licensors and are protected by copyright, trademark and other laws. Any such content may be displayed solely for your personal, non-commercial use. You agree not to modify, reproduce, retransmit, distribute, disseminate, sell, publish, broadcast or circulate any such material without the written permission of TricklesOfChange or the appropriate affiliate.
</p>
<h3>Disclaimer of Representations and Warranties</h3>
<p>
THE SERVICE AND THE SITES ARE PROVIDED ON AN "AS IS" BASIS WITHOUT WARRANTIES OF ANY KIND, EITHER EXPRESS OR IMPLIED. TRICKLESOFCHANGE NOR ITS AFFILIATES ENDORSE OR ARE RESPONSIBLE FOR THE ACCURACY OR RELIABILITY OF ANY INFORMATION ON THIS SITE. TRICKLESOFCHANGE IS NOT A FINANCIAL ADVISOR. The information provided are no substitute for professional advice. Always consult a professional for any professional advice. 
</p>
<p>
Your use of the Service and the Site is at your own risk. TRICKLESOFCHANGE, NOR ANY OF ITS SUBSIDIARIES, DIVISIONS, AFFILIATES, AGENTS, REPRESENTATIVES OR LICENSORS SHALL BE LIABLE TO YOU OR ANYONE ELSE FOR ANY LOSS OR INJURY OR ANY DIRECT, INDIRECT, INCIDENTAL, CONSEQUENTIAL, SPECIAL, PUNITIVE OR SIMILAR DAMAGES ARISING OUT OF YOUR ACCESS OR USE OF, OR YOUR INABILITY TO ACCESS OR USE, THE SERVICE AND THE SITES AND THE INFORMATION AVAILABLE ON THE SERVICE AND THE SITES OR ARISING OUT OF ANY ACTION TAKEN IN RESPONSE TO OR AS A RESULT OF ANY INFORMATION AVAILABLE ON THE SERVICE AND THE SITES. YOU HEREBY WAIVE ANY AND ALL CLAIMS AGAINST TRICKLESOFCHANGE. AND ITS SUBSIDIARIES, DIVISIONS, AFFILIATES, AGENTS, REPRESENTATIVES AND LICENSORS ARISING OUT OF YOUR USE OF THE SERVICE AND THE SITES AND THE INFORMATION AVAILABLE THEREON.
</p>

