<% title "Email" %>

<p>
  <strong>Name:</strong>
  <%= @email.name %>
</p>
<p>
  <strong>Email:</strong>
  <%= @email.email %>
</p>
<p>
  <strong>Topic:</strong>
  <%= @email.topic %>
</p>
<p>
  <strong>Message:</strong>
  <%= @email.message %>
</p>

<p>
</p>
