<div id = "social" class="round-left">
      <ul>
        <li><a href="http://twitter.com/#!/tricklesochange"><img src="/images/tweet_icon.png"></a></li>
        <li><a href="http://www.facebook.com/pages/tricklesofchangecom/140737925974767"><img src="/images/fb_icon.png"></a></li>
      </ul>
  </div>
