<div id = "social" class="round-left shadow_all_round">
      <ul>
        <li><script src="http://connect.facebook.net/en_US/all.js#xfbml=1"></script><fb:like href="http://www.facebook.com/#!/pages/tricklesofchangecom/140737925974767" layout="button_count" show_faces="true" width="450" action="recommend"></fb:like></li>
        <!-- AddThis Button BEGIN -->
<div class="addthis_toolbox addthis_default_style addthis_32x32_style">
<a class="addthis_button_preferred_1"></a>
<a class="addthis_button_preferred_2"></a>
<a class="addthis_button_preferred_3"></a>
<a class="addthis_button_preferred_4"></a>
<a class="addthis_button_compact"></a>
</div>
<script type="text/javascript" src="http://s7.addthis.com/js/250/addthis_widget.js#username=xa-4cf1d0dc7b0a0c47"></script>
<!-- AddThis Button END -->

      </ul>
  </div>
