<div id = "social" class="round-left shadow_all_round">
      <ul>
        <li><iframe src="http://www.facebook.com/plugins/like.php?href=www.tricklesofchange.com&amp;layout=button_count&amp;show_faces=true&amp;width=450&amp;action=recommend&amp;colorscheme=light&amp;height=21" scrolling="no" frameborder="0" style="border:none; overflow:hidden; width:450px; height:21px;" allowTransparency="true"></iframe></li>
        <li style="color:white;"><b>FOLLOW US</b></li>
        <li><a href="http://twitter.com/#!/tricklesochange" target="_blank"><img src="/images/tweet_icon.png"></a></li>
        <li><a href="http://www.facebook.com/pages/tricklesofchangecom/140737925974767" target="_blank"><img src="/images/fb_icon.png"></a></li>
      </ul>
  </div>
