<!DOCTYPE html>
<html>
<body>
	<div class="container">
		<%= render :partial => "layouts/notifierheader" %>
      <section class="round">
        <%= yield %>
      </section>
  </div>
</body>
</html>
